<div class="">
  <div ng-if="sc.secretData.length === 0">Log in to get some secret data.</div>
  <table ng-if="sc.secretData.length > 0">
    <thead>
      <tr>
        <th>
          Secrecy Level
        </th>
        <th>
          Secret Message
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="secret in sc.secretData">
        <td>
          {{secret.secrecyLevel}}
        </td>
        <td>
          {{secret.secretText}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
